body{
  padding: 10px;
  background-color: #e8efdd;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav{
  display: flex;
  justify-content: flex-end ;
  gap: 5%;
  font-size: 10px;
  font-family: 'Ranchers', cursive;
  color: #83a767;
  text-decoration: none;
}

.login {
  font-family: 'Ranchers', cursive;
  font-size: 35px;
  color: #83a767;
  text-decoration: none;
  justify-content: center;
}

a{
  font-family: 'Ranchers', cursive;
  font-size: 10px;
  color: #83a767;
  text-decoration: none;
}

a:hover{
  color: #6f895b 
}


.container{
  border: solid 2px #688e4a;
  width: 200px;
  height: 140px;
  border-radius: 3px;
  background-color: #dae4d2;
}

h1{
  font-family: 'Ranchers', cursive;

}

tr{
  font-size: 15px;
  justify-content: space-between;
}

tr > #baked{
  display: flex;
  gap: 10%;
}
