<%- include('./partials/header')%>

<div class="text-center center-div" id="login">
    <div class="container">
        <br>
        <a href="/auth/google" class="login">Cafe deLaSol</a>
    </div>

<%- include('./partials/footer')%>

