<%- include('./partials/header')%>

<h1 id="welcome-pg">Welcome</h1>
<p id="SI">Please Sign-In below</p>
<div class="text-center center-div" id="login">
    <div class="container">
        <br>
        <a href="/auth/google" class="login">Sign In</a>

    </div>


<%- include('./partials/footer')%>

