<%- include('../partials/header')%>

<!-- css grid -->

<section id="active-orders">
<% orders.forEach(function(order){ %>
    <article>
        <p><strong>Order ID:</strong> <%= order._id %></p>
        <p><strong>Order Time:</strong> <%= order.updatedAt %></p>
    </article>
    
<% }) %>





</section>

<%- include('../partials/footer')%>