<%- include('../partials/header')%>

<!-- <div>
    <a class="button" href="#popup"> <%= item.name %> </a>
  
  
  <div id="popup" class="overlay">
    <div class="box">
      <a class="close" href="#">&times;</a>
      <div class="content">
  
  
  <div class="price">Price:</div>
  </div>
  <button><a href="/orders/:id"></a>Add to Order</a></button>
  </div>
  </div>
  </div> -->
  
<%- include('../partials/footer')%>