<%- include('../partials/header') %>


<!-- <section id="show-page">
    <div>Drinks: </div>
    <div><%= category.drink %></div>
    <div>Pastry Item: </div>
    <div><%= category.pastry %></div>
</section> -->

<%- include('../partials/footer') %>